.hero-btn button {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 30px;
}

.hero-btn .learn-btn {
  background-color: var(--color-btn);
  color: var(--white-color);
}

.hero-btn .shop-btn {
  background-color: var(--white-color);
  color: var(--color-btn);
  border: 1px solid var(--color-btn);
}
